extends ../../layout

block content
  .f-content.pure-g
    .detail.pure-u-1
      .detail-left.pure-u-5-16
        img(class="pure-img",src="#{drama.poster}",alt="#{drama.name}") 
      .detail-right.pure-u-5-8
        ul
          li 
            label 名称:#{drama.name}
          li
            label 年代:#{drama.year}
          li
            label 简介:#{drama.summary}
      .episodes.pure-u-15-16
          each episode in drama.episodes
            .episode.pure-u-1-12
              a.noline.pure-u-1(href="./#{drama._id}/#{episode._id}" title="#{episode.name}") #{episode.number}