extends ../layout

block content
<<<<<<< HEAD
  #index
    h1 哆啦马
    hr
    each cat in categories
      .panel.panel-default
        .panel-heading
          h3
            a(href="/cat/#{cat.id}") #{cat.name}
        .panel-body
          if cat.dramas
            each drama in cat.dramas
              .thumbnail
                a(href="/drama/#{drama.id}")
                  img(src="#{drama.poster}", alt="#{drama.name}")
                .caption
                  h4 #{drama.name}
=======
  h1 it's the home page.
>>>>>>> 915fa6dcceec7f251501f0ece0a2ba317d483fa7
