extends ../layout

block content
  .index
    each cat in categories
      .panel.panel-default
        .panel-heading
          h3
            a(href="/cat/#{cat._id}") #{cat.name}
        .panel-body
          if cat.dramas
            each drama in cat.dramas
              .thumbnail
                a(href="/drama/#{drama._id}")
                  img(class="pure-img",src="#{drama.poster}", alt="#{drama.name}")
                .caption
                  h4 #{drama.name}