extends ../../layout

block content
  .f-content
    .addra
      form.pure-form.pure-form-stacked(method="post" action="/admin/drama" enctype="multipart/form-data")
        fieldset
          legend 添加电视剧
          label 剧名:
          input.pure-input-1(type="text" name="drama[name]" value="#{drama.name}")
          label 年代:
          input.pure-input-1(type="text" name="drama[year]" value="#{drama.year}")  
          label 类别:
          input.pure-input-1(type="text" name="drama[categoryName]" value="")
          label 分类选择:
          each cat in categories
            label.radio-inline
              if drama.category
                input(type="radio", name="drama[category]", value="#{cat._id}", checked="#{cat._id.toString() == drama.category.toString()}")
              else
                input(type="radio", name="drama[category]", value="#{cat._id}")
              | #{cat.name}
          label 海报上传:
            input#uploadPoster(type="file", name="uploadPoster")
          label 简介:
          textarea.pure-input-1(name="drama[summary]") #{drama.summary}
          label 剧集名称(用“|”分割每一集):
          textarea.pure-input-1(type="textarea" name="drama[episodeName]" ) #{episodes.name}
          label 剧集地址(用“|”分割每一集):
          textarea.pure-input-1(type="textarea" name="drama[episodesFlash]" ) #{episodes.flash}
          input#submit.pure-input-1.pure-button.pure-button-primary(type="submit" value="确定")
