extends ../../layout

block content
  .list
      table
        thead
          tr
            th 类别
            th 电视剧名字
            th 上映年份
            //-th 录入时间
            th 查看
            th 修改
            th 删除
        tbody
          each item in dramas
            tr(class="item-id-#{item._id}")
              td #{item.category.name}
              td #{item.name}
              td #{item.year}
              //-td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}}
              td: a(target="_blank", href="/drama/#{item._id}") 查看
              td: a(target="_blank", href="/admin/update/#{item._id}") 修改
              td
                input(type="button", value="删除")